################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaavedraCraft/Assets/Libraries
/SaavedraCraft/MyBUILDs
/SaavedraCraft/Packages
/SaavedraCraft/SaavedraCraft.Model/obj/Debug
/SaavedraCraft.Tests/bin/Debug
/SaavedraCraft.Tests/obj/Debug
/SaavedraCraft/SaavedraCraft.Tests/bin/Debug
/SaavedraCraft/SaavedraCraft.Tests/obj/Debug
/QuarentineSurvival/obj/Debug
/QuarentineSurvival/packages
/QuarentineSurvival/Temp/bin/Debug
/QuarentineSurvival.Model/obj
/QuarentineSurvival/Assets/Libraries
/SaavedraCraft/QuarentineSurvivalTest/bin
/SaavedraCraft/QuarentineSurvivalTest/obj
/QuarentineSurvival/MyBuilds/
/SaavedraCraft/QuarentineSurvivalTest/obj/
/QuarentineSurvival/Library
/QuarentineSurvival/Temp
